.about_main{
    padding-left: 10%;
}
.top_section{
    margin-left: 20%;
}
.top_content{
    padding-top: 5%;
}
.about_text{
    padding-bottom: 5%;
}
.about_heading{
    padding-bottom: 10%;
    padding-top: 10%;
}
.card_main{
    margin-bottom: 5%;
}